@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Round corners for the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color when hovering over the scrollbar thumb */
}

/* Custom scrollbar for Firefox */
.scroll-container {
  scrollbar-width: none; /* Makes scrollbar thin */
  scrollbar-color: #13a2f5 #000000; /* Thumb color and track color */
}
